<div id="<%= dom_id alert %>">
  <p>
    <strong>Member:</strong>
    <%= alert.member_id %>
  </p>

  <p>
    <strong>Assigned to:</strong>
    <%= alert.assigned_to %>
  </p>

  <p>
    <strong>Date of notice:</strong>
    <%= alert.date_of_notice %>
  </p>

  <p>
    <strong>Received from:</strong>
    <%= alert.received_from %>
  </p>

  <p>
    <strong>Type of review:</strong>
    <%= alert.type_of_review %>
  </p>

  <p>
    <strong>Date oldest account:</strong>
    <%= alert.date_oldest_account %>
  </p>

  <p>
    <strong>Decision:</strong>
    <%= alert.decision %>
  </p>

  <p>
    <strong>Monitor until:</strong>
    <%= alert.monitor_until %>
  </p>

  <p>
    <strong>Fca maintain:</strong>
    <%= alert.fca_maintain %>
  </p>

  <p>
    <strong>Document request:</strong>
    <%= alert.document_request %>
  </p>

  <p>
    <strong>Date documents requested:</strong>
    <%= alert.date_documents_requested %>
  </p>

  <p>
    <strong>Documents received:</strong>
    <%= alert.documents_received %>
  </p>

  <p>
    <strong>Fdra facts notes:</strong>
    <%= alert.fdra_facts_notes %>
  </p>

  <p>
    <strong>Olb review by lr:</strong>
    <%= alert.olb_review_by_lr %>
  </p>

  <p>
    <strong>Background review by lr:</strong>
    <%= alert.background_review_by_lr %>
  </p>

  <p>
    <strong>Fraud flags:</strong>
    <%= alert.fraud_flags %>
  </p>

  <p>
    <strong>Idv docs received:</strong>
    <%= alert.idv_docs_received %>
  </p>

  <p>
    <strong>Loss:</strong>
    <%= alert.loss %>
  </p>

  <p>
    <strong>Exposure:</strong>
    <%= alert.exposure %>
  </p>

  <p>
    <strong>Funds returned reason:</strong>
    <%= alert.funds_returned_reason %>
  </p>

  <p>
    <strong>External account:</strong>
    <%= alert.external_account %>
  </p>

</div>
