<%= form_with(model: [@member, alert], local: true) do |form| %>
  <% if alert.errors.any? %>
    <div style="color: red">
      <ul>
        <% alert.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<div class="row">
    <div class="col">
        <div class="row">
            <div class="col"><p>
                <%= form.label :member_id, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.text_field :member_id, :disabled=>true %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :date_of_notice, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.date_field :date_of_notice %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :received_from, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.text_field :received_from %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :type_of_review, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.select :type_of_review, [["Reg CC"],["Return"],["Case Email"],["FDRA External Xfer"],["FDRA New Account"],["FDRA Lookback"],["PCT/OPS"]], include_blank: 'Please Select', selected: alert.type_of_review %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :date_oldest_account, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.date_field :date_oldest_account %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :decision, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.select :decision, [['Blocked by Fraud, Case Investigations'],['Refer FDRA Build Case'],["Reported to FH"],["Monitor"],["LR Refer to FH"],["Non-Issue"],["Request Documents"],["Request PCT Call"]], include_blank: 'Please Select', selected: alert.decision %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :monitor_until, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.date_field :monitor_until %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :document_request, style: "display: block" %></p>
            </div>
            <div class="col"><p>    
                <%= form.check_box :document_request %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :date_documents_requested, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.date_field :date_documents_requested %></p>
            </div>
        </div>
    </div>
    <div class="col">
        <div class="row">
            <div class="col"><p>
                <%= form.label :assigned_to, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.select :assigned_to, User.all.collect {|u| [u.email]}, include_blank: 'Please Select'  %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :fraud_flags, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.select :fraud_flags, [["External Transfer Bank out of Area"],["Suspicious IP"],["Africa Logins"],["Foreign Logins"],["Third Party ACH"],["Multiple Cell Devices"],["Microdeposit Return"],["AOA Decline"],["PII Mismatch"],["PII Changed"],["Attempted NSF"],["Suspicious Fraud Opening Path"]], include_blank: "Please Select", selected: alert.fraud_flags %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :fca_maintain, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.select :fca_maintain, [["Yes"],["No"],["Yes then No"],["No then Yes"]], include_blank: 'Please Select', selected: alert.fca_maintain   %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :loss, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.text_field :loss %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :exposure, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.text_field :exposure %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :funds_returned_reason, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.select :funds_returned_reason, [["Unauthorized"],["Invalid Account"],["Account Closed"],["NSF"],["Account Number"],["NOC"],["Account Frozen"],["Account Not Found"],["Uncollected Funds"],["Stop Payment"],["Other"]], include_blank: "Please Select", selected: alert.funds_returned_reason %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :external_account, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.select :external_account, [["Microdeposit"],["AOA"],["Unable to confirm"]], include_blank: 'Please Select', selected: alert.external_account  %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :documents_received, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.check_box :documents_received %></p>
            </div>
        </div>
        <div class="row">
            <div class="col"><p>
                <%= form.label :idv_docs_received, style: "display: block" %></p>
            </div>
            <div class="col"><p>
                <%= form.check_box :idv_docs_received %></p>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <%= form.label :fdra_facts_notes, style: "display: block" %>
    </div>
    <div class="col-10">
        <%= form.text_area :fdra_facts_notes, class: "col-12" %>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <%= form.label :olb_review_by_lr, style: "display: block" %>
    </div>
    <div class="col-10">
        <%= form.text_area :olb_review_by_lr, class: "col-12"%>
    </div>
</div>
<div class="row">
    <div class="col-2">
        <%= form.label :background_review_by_lr, style: "display: block" %>
    </div>
    <div class="col-10">
        <%= form.text_area :background_review_by_lr, class: "col-12" %>
    </div>
</div>
<div>
    <%= form.submit %>
</div>
<% end %>



