<div class="container">
    <div class="row mx-1">
        <h1><%= @alert.member.full_name%></h1>
        <div class="row", id="members">
            <div class="shadow p-3 mb-5 bg-body-tertiary rounded">
                 <%= render "alerts/show"%>
            </div>
        </div>
        <div>
        <%= link_to "Edit this alert", edit_member_alert_path, class: "btn btn-outline-info shadow" %> |
        <%= link_to "Back to Member", "../", class: "btn btn-outline-primary shadow" %>

        <%= button_to "Destroy this alert", member_alert_path(@alert), method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-outline-danger shadow mt-2"%>
        </div>
    </div>
</div>
