<div class="container">
    <%= render @member %>
    <div class="border-bottom">
        <h1><%= @member.full_name%></h1>
    </div>
    <br>
    <div class="border-bottom">
        <h3>Alerts</h3>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Alert ID</th>
                        <th>Membder ID</th>
                        <th>Days Open</th>
                        <th>Date Created</th>
                    </tr>
                </thead>
                <tbody>
                    <% @member.alerts.each do |alert|%>
                    <tr>
                        <td><%= link_to alert.id, member_alert_path(@member, alert), data: {turbo_frame: 'new_alert'} %></td>
                        <td><%= alert.member.id %></td>
                        <td><%= ((Time.current - alert.created_at.beginning_of_day)/86400).to_i%></td>
                        <td><%= alert.created_at.strftime("%m-%d-%y")%></td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
            <%= link_to "Add New Alert", new_member_alert_path(@member), class: "btn btn-outline-primary shadow"%>
        </div>
        <br>
    </div>
    <br>
    This section us under construction, and will soon contain requests not alerts. 
    <div class="border-bottom">
        <h3>Request For Information</h3>
        <div class="container">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>Request ID</th>
                        <th>Member ID</th>
                        <th>Days Open</th>
                        <th>Date Sent</th>
                    </tr>
                </thead>
                <tbody>
                    <% @member.alerts.each do |alert|%>
                    <tr>
                        <td><%= link_to alert.id, member_alert_path(@member, alert), data: {turbo_frame: 'new_alert'} %></td>
                        <td><%= alert.member.id %></td>
                        <td><%= ((Time.current - alert.created_at.beginning_of_day)/86400).to_i%></td>
                        <td><%= alert.created_at.strftime("%m-%d-%y")%></td>
                    </tr>
                    <%end%>
                </tbody>
            </table>
            <%= link_to "Generate New Request", new_member_alert_path(@member), class: "btn btn-outline-primary shadow"%>
        </div>
        <br>
    </div>
    <br>
    <div class="border-bottom">
        <h3>Accounts</h3>
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Account Numbers</th>
                    <th>Account Type</th>
                </tr>
            </thead>
            <tbody>
                <% @accounts.each do |number|%>
                <tr>
                    <td><%= number.number %></td>
                    <td><%= number.account_type%></td>
                </tr>
                <%end%>
            </tbody>
        </table>
        <div class="me-auto">
            <div class="row">
                <%= form_with(model: [@member, @member.account_numbers.build]) do |form|%>
                        <%=form.label :number %>
                        <%=form.text_field :number, class: "shadow"%>
                        <%=form.label :account_type, class: "ms-2"%>
                        <%=form.select :account_type,  options_for_select([['Primary','primary'],['Secondary','secondary']]), include_blank: 'Please Select', class: "shadow"%>
                <%= form.submit 'Add Account', class: "btn btn-outline-primary ms-2 shadow"%>
            </div>
            <%end%>
            <br>
        </div>
    </div>
    <div class="border-bottom pt-5">
        <%= link_to "Edit this member", edit_member_path(@member), class: "btn btn-outline-info shadow" %> |
        <%= link_to "Back to members", members_path, class: "btn btn-outline-primary shadow" %>
        <br><br>
        <%= button_to "Delete member", @member, method: :delete, form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-outline-danger shadow" %>
        <br>
    </div>
</div>